name: Deploy to Pages

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  
    
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    continue-on-error: true
    
    steps:
      - uses: actions/checkout@v2

      - name: Submodule Update
        run: |
          git submodule update --init --recursive
          git submodule update --remote
          sudo apt-get -y update
          sudo apt-get -y install chromium-browser
          sudo apt-get -y install google-chrome-stable
          
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: pypy-3.7

      - name: Configuration File
        run: |
          mv ${GITHUB_WORKSPACE}/config.toml ${GITHUB_WORKSPACE}/loconotion
      - name: Install and Run
        run: |
          python -m pip install --upgrade pip
          cd ${GITHUB_WORKSPACE}/loconotion
          pip install -r requirements.txt
          python loconotion config.toml
      - name: Deploy to Pages
        uses: JamesIves/github-pages-deploy-action@4.1.5
        with:
          BRANCH: netlify
          FOLDER: loconotion/dist
          CLEAN: true
          single-commit: true

      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@main
        with:
          retain_days: 2
          keep_minimum_runs: 6
